window {
    margin: 5px;
    border: 2px solid #89b4fa;
    background-color: #1e1e2e;
    border-radius: 15px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#input {
    margin: 5px;
    border: 2px solid #313244;
    background-color: #181825;
    border-radius: 10px;
    padding: 8px;
    color: #cdd6f4;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #cdd6f4;
    font-weight: 500;
}

#entry {
    border: none;
    border-radius: 8px;
    margin: 2px;
    padding: 8px;
    background-color: transparent;
}

#entry:selected {
    background-color: #89b4fa;
    color: #1e1e2e;
    font-weight: bold;
}

#entry:hover {
    background-color: #585b70;
    color: #cdd6f4;
}

#entry:nth-child(n) {
    border-bottom: 1px solid #313244;
}

#entry:last-child {
    border-bottom: none;
}